<!DOCTYPE html>
<html lang="en" ng-controller="MainCtrl">
<head>
    <script data-main="static/app/assets/js/boot.min.js" src="static/app/assets/js/libs/require.js" async></script>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pahimakas | Tabulation System">
    <title>Pahimakas | Tabulation System</title>
    <link rel="icon" href="static/app/images/cleari.png">
    <style ng-if="!isLoadingRemove">
        .loader, .progress {
            overflow: hidden
        }

        body {
            font-family: Roboto, sans-serif;
            font-weight: 400;
            margin: 0
        }

        .ng-toolbar {
            z-index: 3
        }

        .ng-loader {
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 90
        }

        .loader-text {
            font-weight: 300;
            color: #607D8B
        }

        .loader {
            height: 100%;
            top: 0;
            background: linear-gradient(#9C27B0, #673AB7);
            position: fixed;
            width: 100%;
            z-index: 75
        }

        .fade, .progress, .sk-folding-cube {
            position: relative
        }

        .c {
            -webkit-align-items: center;
            -webkit-align-content: center;
            -webkit-box-align: center;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            max-width: 100%
        }

        .fade {
            left: 0;
            right: 0;
            opacity: 1
        }

        .fade.ng-enter, .fade.ng-leave {
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease
        }

        .sk-folding-cube {
            margin: 20px auto;
            width: 40px;
            height: 40px;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg)
        }

        .sk-folding-cube .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1)
        }

        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%
        }

        .sk-folding-cube .sk-cube2 {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg)
        }

        .sk-folding-cube .sk-cube3 {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg)
        }

        .sk-folding-cube .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg)
        }

        .sk-folding-cube .sk-cube2:before {
            -webkit-animation-delay: .3s;
            animation-delay: .3s
        }

        .sk-folding-cube .sk-cube3:before {
            -webkit-animation-delay: .6s;
            animation-delay: .6s
        }

        .sk-folding-cube .sk-cube4:before {
            -webkit-animation-delay: .9s;
            animation-delay: .9s
        }

        @-webkit-keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0
            }
            25%, 75% {
                -webkit-transform: perspective(140px) rotateX(0);
                transform: perspective(140px) rotateX(0);
                opacity: 1
            }
            100%, 90% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0
            }
        }

        @keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0
            }
            25%, 75% {
                -webkit-transform: perspective(140px) rotateX(0);
                transform: perspective(140px) rotateX(0);
                opacity: 1
            }
            100%, 90% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0
            }
        }

        .loader {
            -webkit-transition: all linear .5s;
            transition: all linear .5s
        }

        .loader.ng-hide {
            opacity: 0;
            display: flex !important
        }

        .show-msg {
            opacity: 1 !important
        }

        .msg {
            color: #fff;
            transition: .5s;
            margin: 15px 0;
            height: 19px;
            opacity: 0;
            position: fixed;
            left: 0;
            align-self: center;
            width: 100%;
            text-align: center
        }
    </style>
    <style>
        .fade.ng-enter {
            opacity: 0
        }

        .fade.ng-enter-active, .fade.ng-leave {
            opacity: 1
        }

        .fade.ng-leave-active {
            opacity: 0
        }

        .hide-login {
            opacity: 0 !important
        }
    </style>
</head>

<body app-navigation-wrapper>
<div class="login-asset-wrapper"></div>
<noscript ng-if="!isLoadingRemove">
    <h4 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica;">
        Sorry, JavaScript needs to be enabled in order to run this application.
    </h4>
</noscript>
<div class="noselect loader c loading-page" ng-class="{'ng-hide':isLoadingFade}">
    <div style="position:fixed;">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
        <p ng-bind="my_msg" class="msg" ng-class="{'show-msg':(my_msg.length>1)}"></p>
    </div>
</div>
</body>

</html>
