/*
  Flaticon icon font: Flaticon
  Creation date: 22/06/2016 15:03
  */

@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("./Flaticon.eot?#iefix") format("embeddedtype"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="ft-"]:before, [class*=" ft-"]:before,
[class^="ft-"]:after, [class*=" ft-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.ft-3dm:before {
    content: "\f100";
}

.ft-3ds:before {
    content: "\f101";
}

.ft-3g2:before {
    content: "\f102";
}

.ft-3gp:before {
    content: "\f103";
}

.ft-7z:before {
    content: "\f104";
}

.ft-acc:before {
    content: "\f105";
}

.ft-ai:before {
    content: "\f106";
}

.ft-aif:before {
    content: "\f107";
}

.ft-apk:before {
    content: "\f108";
}

.ft-app:before {
    content: "\f109";
}

.ft-asf:before {
    content: "\f10a";
}

.ft-asp:before {
    content: "\f10b";
}

.ft-aspx:before {
    content: "\f10c";
}

.ft-asx:before {
    content: "\f10d";
}

.ft-avi:before {
    content: "\f10e";
}

.ft-bak:before {
    content: "\f10f";
}

.ft-bat:before {
    content: "\f110";
}

.ft-bin:before {
    content: "\f111";
}

.ft-bmp:before {
    content: "\f112";
}

.ft-cab:before {
    content: "\f113";
}

.ft-cad:before {
    content: "\f114";
}

.ft-cdr:before {
    content: "\f115";
}

.ft-certificate:before {
    content: "\f116";
}

.ft-cfg:before {
    content: "\f117";
}

.ft-cfm:before {
    content: "\f118";
}

.ft-cgi:before {
    content: "\f119";
}

.ft-class:before {
    content: "\f11a";
}

.ft-com:before {
    content: "\f11b";
}

.ft-cpl:before {
    content: "\f11c";
}

.ft-cpp:before {
    content: "\f11d";
}

.ft-crx:before {
    content: "\f11e";
}

.ft-csr:before {
    content: "\f11f";
}

.ft-css:before {
    content: "\f120";
}

.ft-csv:before {
    content: "\f121";
}

.ft-cue:before {
    content: "\f122";
}

.ft-cur:before {
    content: "\f123";
}

.ft-dat:before {
    content: "\f124";
}

.ft-db:before {
    content: "\f125";
}

.ft-dbf:before {
    content: "\f126";
}

.ft-dds:before {
    content: "\f127";
}

.ft-dem:before {
    content: "\f128";
}

.ft-dll:before {
    content: "\f129";
}

.ft-dmg:before {
    content: "\f12a";
}

.ft-dmp:before {
    content: "\f12b";
}

.ft-doc:before {
    content: "\f12c";
}

.ft-docx:before {
    content: "\f12d";
}

.ft-drv:before {
    content: "\f12e";
}

.ft-dtd:before {
    content: "\f12f";
}

.ft-dwg:before {
    content: "\f130";
}

.ft-dxf:before {
    content: "\f131";
}

.ft-elf:before {
    content: "\f132";
}

.ft-eps:before {
    content: "\f133";
}

.ft-eps:before {
    content: "\f134";
}

.ft-exe:before {
    content: "\f135";
}

.ft-fla:before {
    content: "\f136";
}

.ft-flash:before {
    content: "\f137";
}

.ft-flv:before {
    content: "\f138";
}

.ft-fnt:before {
    content: "\f139";
}

.ft-fon:before {
    content: "\f13a";
}

.ft-gam:before {
    content: "\f13b";
}

.ft-gbr:before {
    content: "\f13c";
}

.ft-ged:before {
    content: "\f13d";
}

.ft-gif:before {
    content: "\f13e";
}

.ft-gpx:before {
    content: "\f13f";
}

.ft-gz:before {
    content: "\f140";
}

.ft-gzip:before {
    content: "\f141";
}

.ft-hqz:before {
    content: "\f142";
}

.ft-html:before {
    content: "\f143";
}

.ft-ibooks:before {
    content: "\f144";
}

.ft-icns:before {
    content: "\f145";
}

.ft-ico:before {
    content: "\f146";
}

.ft-ics:before {
    content: "\f147";
}

.ft-iff-file:before {
    content: "\f148";
}

.ft-indd:before {
    content: "\f149";
}

.ft-iso:before {
    content: "\f14a";
}

.ft-iso:before {
    content: "\f14b";
}

.ft-jar:before {
    content: "\f14c";
}

.ft-jpg:before {
    content: "\f14d";
}

.ft-js:before {
    content: "\f14e";
}

.ft-jsp:before {
    content: "\f14f";
}

.ft-key:before {
    content: "\f150";
}

.ft-kml:before {
    content: "\f151";
}

.ft-kmz:before {
    content: "\f152";
}

.ft-lnk:before {
    content: "\f153";
}

.ft-log:before {
    content: "\f154";
}

.ft-lua:before {
    content: "\f155";
}

.ft-m3u:before {
    content: "\f156";
}

.ft-m4a:before {
    content: "\f157";
}

.ft-m4v:before {
    content: "\f158";
}

.ft-mach:before {
    content: "\f159";
}

.ft-max:before {
    content: "\f15a";
}

.ft-mdb:before {
    content: "\f15b";
}

.ft-mdf:before {
    content: "\f15c";
}

.ft-mid:before {
    content: "\f15d";
}

.ft-mim:before {
    content: "\f15e";
}

.ft-mov:before {
    content: "\f15f";
}

.ft-mp3:before {
    content: "\f160";
}

.ft-mp4:before {
    content: "\f161";
}

.ft-mpa:before {
    content: "\f162";
}

.ft-mpg:before {
    content: "\f163";
}

.ft-msg:before {
    content: "\f164";
}

.ft-msi:before {
    content: "\f165";
}

.ft-nes:before {
    content: "\f166";
}

.ft-obj:before {
    content: "\f167";
}

.ft-odb:before {
    content: "\f168";
}

.ft-odc:before {
    content: "\f169";
}

.ft-odf:before {
    content: "\f16a";
}

.ft-odg:before {
    content: "\f16b";
}

.ft-odi:before {
    content: "\f16c";
}

.ft-odp:before {
    content: "\f16d";
}

.ft-ods:before {
    content: "\f16e";
}

.ft-odt:before {
    content: "\f16f";
}

.ft-odt:before {
    content: "\f170";
}

.ft-odx:before {
    content: "\f171";
}

.ft-ogg:before {
    content: "\f172";
}

.ft-otf:before {
    content: "\f173";
}

.ft-otf:before {
    content: "\f174";
}

.ft-pages:before {
    content: "\f175";
}

.ft-pct:before {
    content: "\f176";
}

.ft-pdb:before {
    content: "\f177";
}

.ft-pdf:before {
    content: "\f178";
}

.ft-php:before {
    content: "\f179";
}

.ft-pif:before {
    content: "\f17a";
}

.ft-pkg:before {
    content: "\f17b";
}

.ft-pl:before {
    content: "\f17c";
}

.ft-png:before {
    content: "\f17d";
}

.ft-pps:before {
    content: "\f17e";
}

.ft-ppt:before {
    content: "\f17f";
}

.ft-pptx:before {
    content: "\f180";
}

.ft-ps:before {
    content: "\f181";
}

.ft-psd:before {
    content: "\f182";
}

.ft-pub:before {
    content: "\f183";
}

.ft-py:before {
    content: "\f184";
}

.ft-ra:before {
    content: "\f185";
}

.ft-rar:before {
    content: "\f186";
}

.ft-raw:before {
    content: "\f187";
}

.ft-rm:before {
    content: "\f188";
}

.ft-rom:before {
    content: "\f189";
}

.ft-rpm:before {
    content: "\f18a";
}

.ft-rss:before {
    content: "\f18b";
}

.ft-rtf:before {
    content: "\f18c";
}

.ft-sav:before {
    content: "\f18d";
}

.ft-sdf:before {
    content: "\f18e";
}

.ft-sitx:before {
    content: "\f18f";
}

.ft-sql:before {
    content: "\f190";
}

.ft-sql:before {
    content: "\f191";
}

.ft-srt:before {
    content: "\f192";
}

.ft-svg:before {
    content: "\f193";
}

.ft-swf:before {
    content: "\f194";
}

.ft-sys:before {
    content: "\f195";
}

.ft-tar:before {
    content: "\f196";
}

.ft-tex:before {
    content: "\f197";
}

.ft-tga:before {
    content: "\f198";
}

.ft-thm:before {
    content: "\f199";
}

.ft-tiff:before {
    content: "\f19a";
}

.ft-tmp:before {
    content: "\f19b";
}

.ft-torrent:before {
    content: "\f19c";
}

.ft-ttf:before {
    content: "\f19d";
}

.ft-txt:before {
    content: "\f19e";
}

.ft-uue:before {
    content: "\f19f";
}

.ft-vb:before {
    content: "\f1a0";
}

.ft-vcd:before {
    content: "\f1a1";
}

.ft-vcf:before {
    content: "\f1a2";
}

.ft-vob:before {
    content: "\f1a3";
}

.ft-wav:before {
    content: "\f1a4";
}

.ft-wma:before {
    content: "\f1a5";
}

.ft-wmv:before {
    content: "\f1a6";
}

.ft-wpd:before {
    content: "\f1a7";
}

.ft-wps:before {
    content: "\f1a8";
}

.ft-wsf:before {
    content: "\f1a9";
}

.ft-xhtml:before {
    content: "\f1aa";
}

.ft-xlr:before {
    content: "\f1ab";
}

.ft-xls:before {
    content: "\f1ac";
}

.ft-xlsx:before {
    content: "\f1ad";
}

.ft-xml:before {
    content: "\f1ae";
}

.ft-yuv:before {
    content: "\f1af";
}

.ft-zip:before {
    content: "\f1b0";
}