<md-input-container class="md-block">
    <label>Username</label>
    <input md-maxlength="30" required name="username" ng-model="data.username"/>
    <div ng-messages="UserLoginForm.username.$error" role="alert" multiple>
        <div ng-message-exp="['required']">
            Username is required.
        </div>
        <div ng-message="md-maxlength">
            Username should not be greater than 30 characters
        </div>
        <div ng-message="md-maxlength">
            Username should not be greater than 30 characters
        </div>
        <div ng-message="wrongUsername">
            User not Found
        </div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Password</label>
    <input type="password" required name="password" ng-model="data.password"
           ng-keyup="$event.keyCode == 13 ? submit(UserLoginForm) : null"/>
    <div ng-messages="UserLoginForm.password.$error" role="alert" multiple>
        <div ng-message="required">
            Password is required.
        </div>
        <div ng-message="wrongPassword">
            Wrong Password
        </div>
    </div>
</md-input-container>
