<md-input-container class="md-block">
    <label>Username</label>
    <input md-maxlength="30" required name="username_new" ng-model="data.username_new"/>
    <div ng-messages="UserAddForm.username_new.$error" role="alert" multiple>
        <div ng-message-exp="['required']">
            Username is required.
        </div>
        <div ng-message="md-maxlength">
            Username should not be greater than 30 characters
        </div>
        <div ng-message="md-maxlength">
            Username should not be greater than 30 characters
        </div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>First Name</label>
    <input md-maxlength="30" name="first_name_new" ng-model="data.first_name_new"/>
    <div ng-messages="UserAddForm.first_name_new.$error" role="alert" multiple>
        <div ng-message="md-maxlength">
            First Name should not be greater than 30 characters
        </div>
        <div ng-message="md-maxlength">
            First Name should not be greater than 30 characters
        </div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Middle Name</label>
    <input md-maxlength="30" name="middle_name_new" ng-model="data.middle_name_new"/>
    <div ng-messages="UserAddForm.middle_name_new.$error" role="alert" multiple>
        <div ng-message="md-maxlength">
            Middle Name should not be greater than 30 characters
        </div>
        <div ng-message="md-maxlength">
            Middle Name should not be greater than 30 characters
        </div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Last Name</label>
    <input md-maxlength="30" required name="last_name_new" ng-model="data.last_name_new"/>
    <div ng-messages="UserAddForm.last_name_new.$error" role="alert" multiple>
        <div ng-message-exp="['required']">
            Last Name is required.
        </div>
        <div ng-message="md-maxlength">
            Last Name should not be greater than 30 characters
        </div>
        <div ng-message="md-maxlength">
            Last Name should not be greater than 30 characters
        </div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Password</label>
    <input type="password" required name="password_new" ng-model="data.password_new"
           ng-keyup="$event.keyCode == 13 ? submit(UserAddForm) : null"/>
    <div ng-messages="UserAddForm.password_new.$error" role="alert" multiple>
        <div ng-message="required">
            Password is required.
        </div>
    </div>
</md-input-container>
