<p>
    Creating new user needs administrative privilege confirmation.
</p>
<md-input-container class="md-block">
    <label>Confirm</label>
    <input type="password" required name="pin" ng-model="data.verify"
           ng-keyup="$event.keyCode == 13 ? submit(UserVerifyForm) : null"/>
    <div ng-messages="UserVerifyForm.pin.$error" role="alert" multiple>
        <div ng-message="required">
            PIN is required.
        </div>
        <div ng-message="wrongPin">
            Wrong PIN
        </div>
    </div>
</md-input-container>
