<div ng-class="{'hide-recovery':hideRecovery}" ng-if="!removeRecovery" style="transition: .5s;">
    <md-content ng-controller="RecoveryCtrl" class="noselect login_wrap md-padding ng-scope _md" layout="row"
                layout-align="center center" ng-cloak>
        <div class="login-card md-whiteframe-z2">
            <form name="UserRecoveryForm" ng-submit="submit(UserRecoveryForm)">
                <div class="login-header" layout="column" layout-align="center center">
                    <svg id="Layer_11" data-name="Layer 11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"
                         style="width: 75px; height: 75px;">
                        <defs>
                            <style>.cls-1, .cls-5 {
                                fill: #fff;
                            }

                            .cls-2 {
                                fill: #7fcdee;
                            }

                            .cls-3 {
                                fill: #d4eef9;
                            }

                            .cls-4 {
                                fill: #1f80aa;
                            }

                            .cls-5 {
                                opacity: 0;
                            }

                            .cls-6 {
                                fill: url(#linear-gradient);
                            }

                            .cls-7 {
                                fill: #2e3192;
                            }

                            .cls-8 {
                                fill: #0071bc;
                            }

                            .cls-9 {
                                fill: #54bce8;
                            }

                            .cls-10 {
                                fill: #29abe2;
                            }

                            .cls-11 {
                                fill: #a9ddf3;
                            }</style>
                            <linearGradient id="linear-gradient" x1="87.92" y1="799.57" x2="687.61" y2="453.34"
                                            gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                                <stop offset="1" stop-opacity="0.1"/>
                            </linearGradient>
                        </defs>
                        <title>Cleari Logo</title>
                        <path class="cls-1"
                              d="M124.51,303.51h476.6a0,0,0,0,1,0,0V831.85a0,0,0,0,1,0,0H124.51a40,40,0,0,1-40-40V343.51A40,40,0,0,1,124.51,303.51Z"/>
                        <rect class="cls-2" x="160.02" y="408.15" width="284.69" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-3" x="160.02" y="477.49" width="156.58" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-2" x="345.07" y="477.49" width="99.64" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-2" x="160.02" y="546.84" width="213.52" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-3" x="387.78" y="546.84" width="56.94" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-4" x="160.02" y="616.19" width="85.41" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-2" x="259.66" y="616.19" width="185.05" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-2" x="160.02" y="685.54" width="199.28" height="41.61" rx="11.15" ry="11.15"/>
                        <rect class="cls-4" x="387.78" y="685.54" width="56.94" height="41.61" rx="11.15" ry="11.15"/>
                        <path class="cls-5" d="M136.69,303.51a52.18,52.18,0,0,0-52.18,52.18V597L378,303.51Z"/>
                        <path id="_Path_" data-name="&lt;Path&gt;" class="cls-6"
                              d="M378,303.51,84.51,597V779.67a52.18,52.18,0,0,0,52.18,52.18H601.11V303.51Z"/>
                        <polygon class="cls-7" points="483.19 718.02 601.28 833.08 601.28 718.02 483.19 718.02"/>
                        <path class="cls-1"
                              d="M881.4,190.92H483.19V718H881.4c32.08,0,58.09-21.39,58.09-47.77V238.7C939.49,212.31,913.48,190.92,881.4,190.92Z"/>
                        <path class="cls-8"
                              d="M766.3,641.3a6.78,6.78,0,0,1-7,6.79c-107.55-3.7-193.91-92.34-193.91-200.78s86.36-197.08,193.91-200.78a6.78,6.78,0,0,1,7,6.79v36a6.8,6.8,0,0,1-6.55,6.78C679.33,299.56,615,366.06,615,447.31S679.33,595,759.75,598.49a6.8,6.8,0,0,1,6.55,6.78Z"/>
                        <ellipse class="cls-9" cx="704.99" cy="447.31" rx="21.52" ry="20.87"/>
                        <ellipse class="cls-9" cx="704.99" cy="516.45" rx="21.52" ry="20.87"/>
                        <rect class="cls-10" x="697.81" y="357.29" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <ellipse class="cls-9" cx="798.92" cy="516.45" rx="21.52" ry="20.87"/>
                        <rect class="cls-9" x="791.74" y="426.43" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <rect class="cls-10" x="791.41" y="357.29" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <ellipse class="cls-9" cx="751.95" cy="378.17" rx="21.52" ry="20.87"/>
                        <rect class="cls-10" x="744.78" y="426.43" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <rect class="cls-10" x="744.78" y="495.57" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <ellipse class="cls-11" cx="845.88" cy="447.31" rx="21.52" ry="20.87"/>
                        <rect class="cls-11" x="838.7" y="495.57" width="14.35" height="41.75" rx="3.82" ry="3.82"/>
                        <ellipse class="cls-11" cx="845.88" cy="378.17" rx="21.52" ry="20.87"/>
                    </svg>
                    <span class="app-brand" layout="column" layout="start start">
                    <span class="md-headline">Recovery Account</span>
                </span>
                </div>
                <div class="login-content">
                    <p ng-model="UserRecoveryForm.email.$error"></p>
                    <md-input-container class="md-block">
                        <label>User Email</label>
                        <input md-maxlength="30" required name="email" type="email" ng-model="data.email"/>
                        <div ng-messages="UserRecoveryForm.email.$error" role="alert" multiple>
                            <div ng-message-exp="['required']">
                                Email is required.
                            </div>
                            <div ng-message="wrongEmail">
                                Email not Found
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="login-actions" layout="column">
                    <md-button type="submit" class="md-primary md-raised flex app-action-btn" aria-label="Login User"
                               ng-disabled="is_recovery_submit_click">Recover
                    </md-button>
                    <a class="login-link" href="#login" ng-click="login()" ng-disabled="is_login_click">Go to Login</a>
                </div>
            </form>
        </div>
</div>