.shrink-item {
    padding: 0 !important;
}

.criteria-nav {
    width: 200px !important;
}

.criteria-img img {
    width: 300px !important;
}

.c-label {
    margin-right: 25px;
}

.badge_number {
    position: absolute;
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 8px;
}

element.style {
    padding: 0;
}

.zoomPanFrame {
    display: inline-block;
    overflow: hidden;
}

.zoomPanImage {
    width: 300px;
    height: 419.83px;
    display: block;
    transition: transform .5s ease-out;
    transform: scale(1);
    transform-origin: 0 0 0
}

.has_locked {
    background-color: #08c4eb;
    color: white;
}

.hl {
    transition: .5s;
}

.paint-dl {
    background-image: url(/static/app/assets/images/asset/forest-high_res-01.png);
    background-size: cover;
    background-position: bottom;
}

.transpa {
    background: transparent !important;
}

.site-sidenav md-content {
    background: #ffffff !important;
    padding: 0 !important;
}

.scored {
    background-color: #673AB7;
    color: white;
}

.scored button > em {
    color: white !important;
}

.min365 {
    min-width: 365px;
}