.login_wrap {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 70;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.app-brand {
    font-family: 'ABeeZee', sans-serif;
    padding-left: 15px;
}

.app-brand span.md-headline {
    font-size: 40px;
}

.app-login-subtitle {
    font-size: 14px;
}

.app-action-btn {
    color: #3F51B5;
}

.login_wrap_ds {
    background: linear-gradient(to bottom right, #3F51B5, #2196F3);
}

.login-header {
    background: linear-gradient(#9C27B0, #673AB7);
    padding-bottom: 40px;
    color: white;
}

.login-card {
    width: 350px;
    overflow: hidden;
    border-radius: 7px;
}

.login-link {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.login-add {
    height: 60px;
}

.md-button.visibility {
    position: absolute;
    right: 0;
    margin-top: -10px !important;
    z-index: 3;
}

#loading-bar .bar {
    background: linear-gradient(to right, #0D47A1, #1565C0, #2196F3, #26c6da);
}

.login-header {
    padding: 33px 30px 33px 30px;
}

.login-content {
    padding: 30px 30px 0px 30px;
}

.login-actions {
    padding: 0px 30px 33px 30px;
}

@media (max-width: 959px) {
    .login_wrap {
        margin: 0 !important;
        padding: 0 !important;
    }

    .login-card {
        overflow: auto;
        width: 100% !important;
        height: 100% !important;
        border-radius: unset !important;
        box-shadow: unset !important;
    }

    .login-content, .login-actions {
        max-width: 425px;
        margin: auto;
    }
}
