
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E;
}

.md-card {
    overflow: hidden !important;
}

.site-sidenav {
    background: unset !important;
}

.nav-menu-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-top: unset !important;
}

.nav-menu-item > i {
    color: #9E9E9E;
    margin-right: 20px !important;
}

@media (min-width: 960px) {
    .nav-toolbar {
        height: unset !important;
    }
}

.nav {
    height: 100%;
}

.nav-toolbar {
    height: 200px;
}

.nav-toolbar img {
    background-color: #ffffff7a;
    border-radius: 25px;
    margin-left: 17px;
}

.nav-collapse {
    width: 57px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-content {
    overflow: hidden;
}

.nav-desktop-title {
    font-size: 25px;
    margin-left: 20px;
    font-family: 'ABeeZee', sans-serif;
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    padding-left: 20px;
    opacity: 1;
}

.nav-dialog-fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
}

.nav-dialog-back {
    border-radius: 0 !important;
    margin-left: -16px !important;
    padding: 14px 30px 14px 14px !important;
}

.nav-dialog-center {
    text-align: center;
}

.nav-dialog-men em, .nav-dialog-women em {
    color: #673AB7;
    padding: 6px 15px;
    margin: -6px 1px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

.md-dialog-container {
    background-color: #000000a1 !important;
}

.nav-dialog-men em {
    right: 0;
}

.nav-dialog-women em {
    left: 0;
}

.nav-dialog-women span {
    float: right;
}

.nav-dialog-back span {
    padding-left: 5px;
    font-size: 17px;
}

.nav-dt-hide {
    font-size: 0;
    opacity: 0;
    position: absolute;
}

@media (min-width: 960px) {
    .nav-menu-item.revert > i {
        color: #ffffff !important;
    }

    .nav-desktop-expand {
        padding-left: 30px;
        padding-top: 25px;
        background-color: #4054b5;
        color: white;
        overflow-y: auto;
    }
}

.togglernav {
    -webkit-transition: 120ms;
    -o-transition: 120ms;
    transition: 120ms;
}
