<md-toast>
    <div layout="column" flex>
        <span class="md-toast-text md-truncate">{{ mtc.message }}</span>
        <span class="md-toast-text md-truncate">From: {{ mtc.from }}</span>
    </div>
    <md-button class="md-highlight" ng-click="mtc.openLink()">
        More info
    </md-button>
    <md-button ng-click="mtc.closeToast()">
        Close
    </md-button>
</md-toast>
