<md-dialog aria-label="About Us">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>About Us</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            About ni siya...
        </div>
    </md-dialog-content>
</md-dialog>