<div ng-controller="DashboardCtrl as dc" class="md-padding" layout="row" layout-align="space-around start" layout-wrap
     layout-fill>
    <style>.p-custom-btn {
        transition: .5s;
        height: 250px;
        width: 300px;
    }

    .p-custom-btn:hover {
        filter: grayscale(0) !important;
    }
    </style>
    <md-button ng-style="dc.item_style(l.src)" class="md-raised p-custom-btn" ng-repeat="l in dc.exposure_list"
               ng-click="dc.open(l, $event)" layout="column" layout-align="center center"
               ng-disabled="{{ l.is_disabled }}">
        <span class="md-headline">{{ l.name }}</span>
        <span>{{ l.percentage }}</span>
        <span>{{ l.description }}</span>
    </md-button>
</div>