<link rel="stylesheet" href="/static/app/assets/css/modules/exposure.css">
<link rel="stylesheet" href="/static/app/assets/css/libs/wip-image-zoom.min.css">
<md-dialog class="nav-dialog-fullscreen" aria-label="Exposure Dialog" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="nav-dialog-back" layout="row" layout-align="center center" ng-click="ec.cancel($event)">
                <i class="material-icons">arrow_back</i>
                <span>BACK</span>
            </md-button>
            <h2>{{ ec.title }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" class="paint-dl" ng-init="ec.playbox.locked=false">
        <md-sidenav
                class="site-sidenav md-sidenav-left criteria-nav"
                md-component-id="left"
                md-is-locked-open="true"
                md-whiteframe="4">

            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools ">
                    <h1 class="nav-dialog-center" flex>Candidates</h1>
                </div>
            </md-toolbar>
            <md-content layout-padding>
                <div class="shrink-item" ng-repeat="ml in ec.male_list | orderBy:'ml.candidate_number'"
                     ng-hide="ml.active==0">
                    <md-divider></md-divider>
                    <md-menu-item ng-class="{'scored': ml.is_scored}">
                        <md-button class="secondary-button-padding nav-dialog-men" ng-click="ec.choose(ml, $event)">
                            <span>{{ ml.project_name }}</span><em>#{{ ml.candidate_number }}</em>
                        </md-button>
                    </md-menu-item>
                </div>
                <div class="shrink-item" ng-repeat="fl in ec.female_list | orderBy:'ml.candidate_number'"
                     ng-hide="fl.active==0">
                    <md-divider></md-divider>
                    <md-menu-item ng-class="{'scored': fl.is_scored}">
                        <md-button class="secondary-button-padding nav-dialog-men"
                                   ng-click="ec.choose(fl, $event)">
                            <em>#{{ fl.candidate_number }}</em><span>{{ fl.project_name }}</span>
                        </md-button>
                    </md-menu-item>
                </div>
            </md-content>
        </md-sidenav>
        <md-content layout-fill layout="row" class="transpa" layout-wrap layout-align="space-around start">
            <div ng-hide="ec.playbox.candidate_number==undefined || ec.playbox.wrap" class="left-side-info transpa">
                <md-card layout="column">
                    <zoom src="{{ ec.filter_name_path(ec.playbox.full_name) }}" frame="photoFrame"
                          img="candidatePhot" zoomlvl="3" class="md-card-image"></zoom>
                    <span class="md-headline badge_number" layout="row" layout-align="center center">#{{ ec.playbox.candidate_number }}</span>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ ec.playbox.project_name }}</span>
                            <span>{{ ec.playbox.full_name }}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-button class="md-primary md-raised" layout="row" layout-align="center center"
                               ng-disabled="ec.playbox.total < 1 || ec.playbox.total==undefined"
                               ng-click="ec.playbox.locked=!ec.playbox.locked; locked(ec.playbox)">
                        <i class="material-icons" style="margin-right: 10px;">{{ ec.playbox.locked > 0 ? 'lock' :
                            'lock_open' }}</i>
                        <span>{{ !ec.playbox.locked > 0 ? 'Lock Scores' : 'Unlock Scores' }}</span>
                    </md-button>
                </md-card>
            </div>
            <div ng-hide="ec.playbox.candidate_number==undefined || ec.playbox.wrap"
                 class="right-side-info min365 transpa"
                 layout="column" flex>
                <md-card class="min365 hl" ng-class="{'has_locked': ec.playbox.locked}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-display-2">{{ ec.playbox.total || 0 }} %</span>
                            <span class="md-headline">Total Points Earned</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card class="min365">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Scoring Card</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div ng-repeat="ci in ec.playbox.criteria_list" layout="column">
                            <div layout="column">
                                <div class="md-body-2 c-label" layout="column" layout-align="start start">
                                    <span>{{ ci.name }}</span>
                                    <b>{{ ci.percentage }}%</b>
                                </div>
                                <md-slider-container class="flex">
                                    <md-slider md-discrete ng-model="ci.data" min="0" max="{{ ci.percentage }}"
                                               aria-label="{{ci.name}} Slider" ng-disabled="ec.playbox.locked"
                                               ng-change="ec.update(ec.playbox.criteria_list)"
                                               id="{{ci.name}}-slider" class="md-primary">
                                    </md-slider>
                                    <md-input-container>
                                        <input type="number" min="0" max="{{ ci.percentage }}" ng-model="ci.data"
                                               aria-label="{{ci.name}} Input" ng-disabled="ec.playbox.locked"
                                               ng-change="ec.update(ec.playbox.criteria_list)"
                                               aria-controls="{{ci.name}}-slider">
                                    </md-input-container>
                                </md-slider-container>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>